html,
body {
    height: auto;
    width: auto;
    
}

body{
    background-image: url("./img/world.jpg");
    background-position: top 30% center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;

}

footer{
  background-color: rgb(255, 255, 255, .8);
}
.navbar {
    background-color: #333;
    position: fixed-top;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
    height: 20%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    color: rgb(96, 177, 252);
  }

.date-time{
  margin-bottom: 6%;
  text-align: center;
  display: inline-block;
  position: relative;
}

.day {
  padding-bottom: 2% 2%;

}


/* .searchbarhomediv {
  margin: 10%;
} */


footer {
    margin-top: 20%;
    text-align: center;
    font-size: small;
}

