/************** index.html file ***********/ 

body{
    background-color: aqua;
}
.banner {
    margin-top: 10%;
    padding: 8%;
    text-align: center;
}
.date-time{
    text-align:center;
}

.nyt-feed {

    border: black;
    border-style: solid;
    background-color: rgb(241, 241, 212);
}

.weather-feed {
    border: black;
    border-style: solid;
        
}