html,
body {
    height: auto;
    width: auto;
    
}

body{
    background-image: url("./img/world.jpg");
    background-position: top 30% center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;

}


.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    color: rgb(96, 177, 252);
  }

.date-time{
    margin-bottom: 6%;
    text-align: center;
}

.day {
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding-bottom: 2%;
  position: fixed;

}


.searchbarhomediv {
  margin: 10%;
}


footer {
    margin-top: 20%;
    text-align: center;
    font-size: small;
}

