

 .feed-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10%;
} 

.nyt-feed > .feed-header > .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-card {
    width: 50%;
    
}

.news-card > .story-img img {
    width: 100%;
}

.content > .news-card2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    padding: 10%;
}

.story-img2 {
    flex-basis:33%;
}

.story-img2 img {
    width: 80%
}
.story-info {
    flex-basis: 67%;
}

.nyt-feed {
    background-color: yellow;
    border: black;
    border-style: solid;

}
