body {
    height: auto;
    margin: 25% 20%;
}

 .feed-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10%;
    margin-bottom: 8%;
} 

.nyt-feed > .feed-header > .title {
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

.news-card {
    width: 50%;
    
}

.news-card > .story-img img {
    width: 100%;
}


.content > .news-card2{
    
    flex-direction: row;
    justify-content: flex-start;
    padding: 5% 10%;

}

.story-img2 {
    background-color: rgb(255, 255, 255, .6);
    padding: 10px;
}

.story-img2 img {
    width: auto;
}

.story-info {
    
    background-color: rgb(255, 255, 255, .8);
    padding: 8px;
}

.nyt-feed {
    background-position: top 25% right 55%;
    background-color: rgb(255, 255, 255, .8);
    border: black;
    border-style: solid;

}
