
.weather, .card {
    position: relative;
    right: 0;
    margin-top: 20%;
    background-color: rgb(255, 255, 255, .8);
    text-align: center;
    border: black;
    border-style: solid;
}

.card {
    position: absolute;
    right: 0;
    margin-top: 20%;
}