.yelp {

    background-image: url("");
    background-size: cover;
    background-position: center;
    margin: 5%;
    border: black;
    border-style: solid;
    background-color: rgb(255, 255, 255, .8);
    padding: 10%;
    text-align: center;
    height: 5%;
    
}